#projects {
  padding-top: 80px;
  padding-bottom: 30px;
}

#projects_title {
  color: var(--title);
  margin-bottom: 30px;
}

.project {
  margin-bottom: 20px;
  background-color: var(--quote);
  border-radius: var(--border-radius);
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 1px;
}

.project_content {
  color: var(--text);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.project_extras {
  margin-bottom: 15px;
}

.project_logo {
  border-radius: var(--border-radius);
  height: auto;
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  margin-right: 8px;
}

.info {
  color: var(--title);
}

.project_description {
  margin-bottom: 15px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  white-space: pre-line;
}

a {
  text-decoration: none;
  color: var(--text);
}

.skills_title {
  color: var(--title);
}

.skills {
  margin-left: 10px;
  margin-right: 10px;
}

.hard_skills {
  margin-bottom: 8px;
}

.project_title_and_info {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.buttons:hover {
  background-color: var(--selected);
  border-color: var(--selected);
}

.project_link {
  margin-bottom: 10px;
}

.expand_collapse {
  height: 25px;
  margin-bottom: 10px; 
}

.expand_collapse:hover {
  cursor: pointer;
  color: var(--selected);
}
