#experiences {
  padding-top: 80px;
  padding-bottom: 30px;
}

#experiences_title {
  color: var(--title);
  margin-bottom: 30px;
}

.experience {
  margin-bottom: 40px;
  background-color: var(--quote);
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 1px;
}

.icon {
  margin-right: 8px;
}

.info {
  color: var(--title);
}

.logo {
  border-radius: 15px;
  height: auto;
  width: 100%;
}

.experience_title_and_info {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.skills_title {
  color: var(--title);
}

.hard_skills {
  margin-bottom: 8px;
}

.description {
  margin-bottom: 5px;
}

a {
  outline: none;
}

#dbs {
  margin-bottom: 40px;
}