#skills {
  padding-top: 80px;
  padding-bottom: 30px;
}

#skills_title {
  color: var(--title);
  margin-bottom: 30px;
}

.skill_section {
  margin-bottom: 30px;
  background-color: var(--quote);
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 1px;
  width: fit-content;
  padding-inline: 20px;
  margin-left: auto;
  margin-right: auto;
}

.proficiency_level {
  color: var(--selected);
}

.skill {
  margin-bottom: 5px;
}

h5 {
  color: var(--title)
}

.sub_skill {
  margin-bottom: 5px;
}

a {
  outline: none;
}

.col-sm-4 {
  margin: 0px;
  padding: 0px;
}