#about {
  padding-top: 80px;
  padding-bottom: 30px;
  width: 100%;
}

#name_and_photo {
  margin-bottom: 20px;
}

#quote {
  color: var(--text);
}

blockquote {
  margin: 0;
  margin-bottom: 40px;
}

blockquote p {
  padding: 15px;
  background: var(--quote);
  border-radius: 5px;
  color: black;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

#profile_picture {
  border-radius: 50%;
  height: 150px;
  width: 150px*1.06;
}

#hobbies_text {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  margin-bottom: 20px;
}

.find_me_button_container {
  margin: 20px;
}

#find_me {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.find_me_button {
  color: var(--text);
  text-decoration: none;
}

.find_me_button:hover {
  color: var(--selected);
  text-decoration: none;
}

#timeline {
  margin-bottom: 20px;
}

.about_section {
  margin-bottom: 40px;
}

#find_me {
  margin-bottom: 0px;
}

#name {
  color: var(--title);
}

h3 {
  color: var(--title);
}

.buttons:hover {
  background-color: var(--selected);
  border-color: var(--selected);
}

#dbs {
  margin-bottom: 0px;
}

a {
  outline: none;
}