#about {
  max-width: 700px;
}

#about_me {
  white-space: pre-wrap;
}

blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
  color: black;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

#profile_picture {
  border-radius: 50%;
  height: 150px;
  width: 150px*1.06;
}

#bio div {
  display: inline-block;
  background: #4285F4;
  width: 20px;
  margin-right: 3px;
}

.spacer {
  min-height: 30px;
}

#hobbies_text {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.find_me_button_container {
  margin: 20px;
}

#find_me {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.find_me_button {
  color:inherit;
  text-decoration: none;
}

.find_me_button:hover {
  color: white;
  text-decoration: none;
}
