#about {
  max-width: 700px;
  padding-top: 80px;
  padding-bottom: 20px;
}

#name_and_photo {
  margin-bottom: 40px;
}

blockquote {
  margin: 0;
  margin-bottom: 40px;
}

blockquote p {
  padding: 15px;
  background: #b7bec5;
  border-radius: 5px;
  color: black;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

#profile_picture {
  border-radius: 50%;
  height: 150px;
  width: 150px*1.06;
}

#bio div {
  display: inline-block;
  background: #4285F4;
  width: 20px;
  margin-right: 3px;
}

#hobbies_text {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  margin-bottom: 20px;
}

.find_me_button_container {
  margin: 20px;
}

#find_me {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.find_me_button {
  color:white;
  text-decoration: none;
}

.find_me_button:hover {
  color: #ccff00;
  text-decoration: none;
}

#about_me {
  margin-bottom: 40px;
}

#about_text {
  margin-bottom: 20px;
}

#hobbies {
  margin-bottom: 40px;
}

#timeline {
  margin-bottom: 20px;
}