#contact {
  padding-top: 80px;
  padding-bottom: 30px;
}

#contact_me {
  margin-bottom: 20px;
  color: var(--title);
}

#contact_text {
  margin-bottom: 40px;
  color: var(--text);
}

.contact_section {
  margin-bottom: 20px;
  background-color: var(--quote);
  border-radius: 15px;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width: fit-content;
  min-width: fit-content;
  padding-inline: 20px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  margin-right: 8px;
}

.contact_link {
  text-decoration: none;
  color: var(--text);
}

.contact_link:hover {
  color: var(--selected);
}
