#contact {
  padding-top: 80px;
  padding-bottom: 20px;
}

#contact_me {
  margin-bottom: 40px;
}

#email_address {
  text-decoration: none;
  color: white;
}

#email_address:hover {
  /* color: #C007D9; */
  color: var(--black);
}

