#contact {
  padding-top: 80px;
  padding-bottom: 30px;
}

#contact_me {
  margin-bottom: 20px;
  color: var(--title);
}

#looking_for_internship {
  margin-bottom: 40px;
  color: var(--text);
}

.contact_section {
  margin-bottom: 30px;
}

.icon {
  margin-right: 8px;
}

.contact_link {
  text-decoration: none;
  color: var(--text);
}

.contact_link:hover {
  color: var(--selected);
}