.horizontal_gap {
  width: 15px;
}

#fe56_logo {
  margin-right: 5px;
}

#navbar_buttons {
  max-width: 450px;
}

#navbar_nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  -webkit-backdrop-filter: blur(35px);
  backdrop-filter: blur(35px);
}

.nav-link:hover, .selected {
  color: var(--background) !important;
  text-decoration: underline;
  background-color: var(--selected);
  text-decoration-color: var(--background);
  border-radius: 15px;
  outline: none;
}

#logo:hover {
  color: var(--selected);
  text-decoration: underline;
  text-decoration-color: var(--selected);
}

#logo {
  outline: none;
}
