#hobbies {
  padding-top: 80px;
  padding-bottom: 30px;
}

#hobbies_title {
  color: var(--title);
  margin-bottom: 30px;
}

.hobby {
  margin-bottom: 20px;
  background-color: var(--quote);
  border-radius: var(--border-radius);
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.hobby_title {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  color: var(--selected);
}

.image {
  border-radius: var(--border-radius);
  height: 400px;
  width: auto;
  margin: 10px;
}

#brad_delson_picture,
#james_hetfield_and_kirk_hammet_picture,
#bille_joe_armstrong_picture {
  height: auto;
  width: 70%;
}

.icon {
  margin-right: 8px;
}

.description {
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
}

.hobby_end {
  margin-top: 10px;
  margin-bottom: 15px;
}
