#app {
  text-align: center;
  font-family: 'Atkinson Hyperlegible';
  background-color: var(--background);
  color: var(--text);
  max-width: 700px;
}

#github_icon {
  margin-right: 10px;
}

#github_source {
  color: var(--text);
  text-decoration: none;
  transition-duration: 0.2s;
}

#github_source:hover {
  letter-spacing: 0.1em;
  transition-duration: 0.2s;
}

#github_source:hover {
  color: var(--selected);
}

#footer {
  padding-bottom: 20px;
}

#footnote {
  margin-top: 5px;
}

:root {
  --background: #001011;
  --title: #6CCFF6;
  --text: #FFFFFC;
  --selected: #A5E000;
  --quote: #313235;
}