#app {
  text-align: center;
  font-family: 'Atkinson Hyperlegible';
  background-color: var(--background);
  color: var(--text);
  max-width: 700px;
}

#github_icon {
  margin-right: 10px;
}

#github_source {
  color: var(--text);
  text-decoration: none;
}

#github_source:hover {
  color: var(--selected);
}

#footer {
  padding-bottom: 20px;
}

#footnote {
  margin-top: 5px;
}

:root {
  --background: #030301;
  --title: #00d9c0;
  --text: #fffff3;
  --selected: #ff4365;
  --quote: #b7ad99;
}