#app {
  text-align: center;
  font-family: 'Atkinson Hyperlegible';
  background-color: var(--background);
  color: var(--text);
  max-width: 700px;
}

#github_icon {
  margin-right: 10px;
}

#github_source {
  color: var(--text);
  text-decoration: none;
  transition-duration: 0.2s;
}

#github_source:hover {
  letter-spacing: 0.1em;
  color: var(--selected);
  transition-duration: 0.2s;
}

#footer {
  padding-bottom: 20px;
}

#footnote {
  margin-top: 5px;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.btn {
  border-radius: var(--border-radius);
  background-color: var(--button);
  color: var(--background);
}
