@import url("https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif, "Atkinson Legible";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: var(--background);
  min-height: 100vh;
}

/* constants */
:root {
  --border-radius: 15px;
  --about-milestone-line-height: 85%;
}

.light-theme {
  --background: #edf6f9;
  --title: #006d77;
  --text: #42999b;
  --selected: #354b46;
  --quote: #ffddd2;
  --button: #e29578;
  --theme_button_background: #262338;
  --theme_button: #f6f1d5;
}

.dark-theme {
  --background: #051c2c;
  --title: #59cbe8;
  --text: #00bce1;
  --selected: #e93cac;
  --quote: #1e22aa;
  --button: #ed9b33;
  --theme_button_background: #62c2cc;
  --theme_button: #fdb813;
}
